node_modules
temp
dist
build
.DS_Store
package.ts
.env

# VS Code
.vscode/*
.history/
*.vsix

# IDEA files
.idea

# VIM
Session.vim
.vim/

# Other private editor folders
.nvim/
.emacs/
.helix/
# contracts-func